body{
    
    /*
    background:url('https://www.wallpaperup.com/uploads/wallpapers/2012/11/30/23008/b57dce88246fced8adcab3a606d3b5c3-500.jpg');
    */

    background-color: #ffffff;
    padding:50px;
}